Repository MT1218/ENGG3000-Java-Program: changes, and which pre-commit hooks are due for each by the changed paths.
All: gradle-build-check, java-basic-style, line-length-check, java-package-check

.pre-commit-config.yaml:

repos:
  # Basic formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  # Java validation
  - repo: local
    hooks:
      - id: gradle-build-check
        name: Gradle build check
        entry: bash -c
        language: system
        files: \.java$
        args:
          - |
            echo "Running Gradle build to validate Java code"
            cd "$(git rev-parse --show-toplevel)"
            if ! ./gradlew compileJava compileTestJava; then
              echo "Gradle compilation failed - fix errors before committing"
              exit 1
            fi
            echo "Java compilation successful"

  # Style validation
  - repo: local
    hooks:
      - id: java-basic-style
        name: Java Lint
        entry: bash -c
        language: system
        files: \.java$
        args:
          - |
            VIOLATIONS=0
            for file in "$@"; do
              # Skip build directories
              if [[ "$file" == *"/build/"* ]]; then continue; fi

              # Check for basic style issues
              if grep -n 'class[[:space:]]\+[a-z]' "$file"; then
                echo "ERROR: $file - Class names should start with uppercase"
                VIOLATIONS=$((VIOLATIONS + 1))
              fi
            done

            if [ $VIOLATIONS -gt 0 ]; then
              echo "Found $VIOLATIONS style violations"
              exit 1
            fi

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|markdown)$

  # Line length check
  - repo: local
    hooks:
      - id: line-length-check
        name: Check line length
        entry: bash -c
        language: system
        files: \.(java|md)$  # Remove .gradle files
        args:
          - |
            VIOLATIONS=0
            for file in "$@"; do
              if [[ "$file" == *"/build/"* ]]; then continue; fi
              if grep -n ".\{121,\}" "$file"; then
                echo "ERROR: Line too long in $file"
                VIOLATIONS=$((VIOLATIONS + 1))
              fi
            done
            if [ $VIOLATIONS -gt 0 ]; then
              exit 1
            fi

  # Package validation
  - repo: local
    hooks:
      - id: java-package-check
        name: Java package validation
        entry: bash -c
        language: system
        files: \.java$
        args:
          - |
            for file in "$@"; do
              if [[ "$file" == *"/build/"* ]]; then continue; fi
              if ! grep -q '^package mcp;' "$file"; then
                echo "ERROR: $file - Missing or incorrect package declaration"
                exit 1
              fi
            done

Pipeline to build, run and test java code
  .github/java-tests.yml
  .github/lint.yml
Due: none

Fix folder structure for pipelines
  .github/workflows/java-tests.yml
  .github/workflows/lint.yml
Due: none

Actions was disabled for some reason
  .github/workflows/java-tests.yml
Due: none

Include gradle-wrapper.jar in repo
  .gitignore
  gradle/wrapper/gradle-wrapper.jar
Due: none

Remove bottom panel from GUI and make status panel larger
  app/src/main/java/mcp/App.java
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Assertion changes
  app/src/test/java/mcp/AppTest.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Wokwi Simulator works
  app/src/main/java/mcp/App.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Comment
  app/src/main/java/mcp/App.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

GUI Changes
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Remove branch from workflow yaml
  .github/workflows/lint.yml
Due: none

GUI Updates
  app/src/main/java/mcp/App.java
  app/src/main/java/mcp/Gui.java
  app/src/main/java/mcp/Receive.java
  app/src/main/java/mcp/Send.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Create thread for sending heartbeat messages
  app/src/main/java/mcp/App.java
  app/src/main/java/mcp/Heartbeat.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

GUI changes for new state and message formats
  app/src/main/java/mcp/Gui.java
  app/src/main/java/mcp/Receive.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Changes to match ESP code changes, still requires heavy enhancement.
  app/src/main/java/mcp/Gui.java
  app/src/main/java/mcp/Receive.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Update GUI
  app/src/main/java/mcp/Gui.java
  app/src/main/java/mcp/Receive.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Disable test pipeline
  .github/workflows/java-tests.yml
Due: none

Add button for emergency stop and revert back to outputting received messages in the log panel
  app/src/main/java/mcp/Gui.java
  app/src/main/java/mcp/Receive.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Lint fix
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

More gui changes
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

gui
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Styling changes
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

gooey
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

- Make comms lost screen into a pane - New line for sequenceState in system status panel for laptop
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Add notification pop ups for receiving and sending messages
  app/src/main/java/mcp/App.java
  app/src/main/java/mcp/Gui.java
  app/src/main/java/mcp/Receive.java
  app/src/main/java/mcp/Send.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Change button hover brightness
  app/src/main/java/mcp/Gui.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

- Add wrap function for message log on log screen for laptop - Center notification pop up based on animation panel
  app/src/main/java/mcp/App.java
  app/src/main/java/mcp/Gui.java
  app/src/main/java/mcp/Receive.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Recieve.java lint fix
  app/src/main/java/mcp/Receive.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Last commit - remove emergency stop button
  app/src/main/java/mcp/Gui.java
  app/src/main/java/mcp/Receive.java
Due: gradle-build-check, java-basic-style, line-length-check, java-package-check

Update readme
  README.md
  gui.png
Due: line-length-check

Lint fix
  README.md
Due: line-length-check
